In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [2]:
out_dir = Path("../phys-vae/data/climate/")

In [3]:
data = pd.read_excel("complete_data.xlsx")

In [4]:
data.head(4)

,DateTime,NEE,NEE_unc,LE,LE_unc,H,H_unc,Tau,Tau_unc,CO2_strg,...,Sun App Long (deg),Mean Obliq Ecliptic (deg),Obliq Corr (deg),Sun Declin (deg),var y,Eq of Time (minutes),HA Sunrise (deg),Solar Noon (LST),Sunrise Time (LST),Sunset Time (LST)
0,2012-06-22 00:30:00,12.5670,3.06210,-9999.000,14.6310,-2.9117,0.72031,0.17393,0.012095,-0.103920,...,91.009689,23.437669,23.43538,23.431524,0.04302,-1.989238,90.907872,12:01:59.354000,05:58:21.465000,18:05:37.244000
1,2012-06-22 01:00:00,6.7892,2.06360,37.362,12.3280,-10.5920,0.64084,0.17662,0.012124,0.089560,...,91.029567,23.437669,23.43538,23.431371,0.04302,-1.993748,90.907871,12:01:59.625000,05:58:21.736000,18:05:37.514000
2,2012-06-22 01:30:00,4.0302,0.54104,35.169,4.7136,-15.9840,1.20660,0.18260,0.013019,-0.204920,...,91.049444,23.437669,23.43538,23.431214,0.04302,-1.998258,90.907870,12:01:59.895000,05:58:22.007000,18:05:37.784000
3,2012-06-22 02:00:00,5.0909,0.33387,32.364,3.5567,-13.9460,0.63822,0.12357,0.008703,-0.035944,...,91.069321,23.437669,23.43538,23.431055,0.04302,-2.002767,90.907869,12:02:00.166000,05:58:22.277000,18:05:38.055000

In [5]:
data = data[data['Day/Night'] == False].reset_index(drop=True)

In [6]:
data = data.drop(np.argwhere(data.values == -9999)[:,0]).reset_index(drop=True)

In [7]:
columns_to_pick = ['NEE', 'LE', 'LE_unc', 'H', 'H_unc', 'Tau',
       'Tau_unc', 'CO2_strg', 'LE_strg', 'H_strg', 'Pa', 'Ta', 'RH', 'VPD',
       'Rnet', 'Rg', 'G1', 'G2', 'G3', 'G4', 'Tsoil1', 'Tsoil2', 'VWC_1',
       'VWC2', 'Precipitation', 'Windspeed', 'Winddir', 'FootprintFraction',
       'Ustar', 'TKE', 'Tstar', 'L', 'zL','TER', 'GEP']

In [8]:
data = data[columns_to_pick].iloc[:1000]

In [9]:
data.to_csv(out_dir.joinpath("train_night_sample.csv"), index=False)

NEE = data["NEE"]
Tair = data["Ta"]
del data["NEE"]
del data["Ta"]

In [11]:
normalizer = MinMaxScaler()
normalizer.fit(data)
norm_data = normalizer.transform(data)

In [12]:
data[data.columns] = norm_data

In [11]:
data["NEE"] = NEE
data["Ta"] = Tair

In [12]:
train, val = train_test_split(data, test_size=0.3)

train.to_csv(out_dir.joinpath("train_night_subset_train.csv"), index=False)
val.to_csv(out_dir.joinpath("train_night_subset_val.csv"), index=False)

In [15]:
data

,LE,LE_unc,H,H_unc,Tau,Tau_unc,CO2_strg,LE_strg,H_strg,Pa,...,FootprintFraction,Ustar,TKE,Tstar,L,zL,TER,GEP,NEE,Ta
0,0.323216,1.087596,1.103619,-1.727559,-0.584814,-0.633478,-0.839412,0.452258,0.645443,0.731536,...,0.360366,-0.545268,-0.582426,1.297503,0.569604,-0.566736,0.215619,-0.045663,5.3255,17.94
1,-0.126342,0.090144,1.052797,-1.315463,-0.620857,-0.427487,0.276310,0.339301,0.779505,0.726034,...,0.360366,-0.545268,-0.603665,1.216769,0.269324,-0.534100,0.204993,0.030040,5.1436,18.04
2,-0.138069,1.978970,0.637959,-1.113447,-0.335016,-0.297622,0.960532,-0.558708,0.880549,0.742540,...,0.360366,-0.181433,-0.326685,0.723943,0.075389,-0.428932,0.194387,-0.049833,5.2986,18.18
3,-0.663479,-0.378425,0.626299,-0.914456,-0.051875,0.168933,-0.038889,0.380659,0.064985,0.704026,...,0.360366,0.182403,-0.050207,0.798025,0.134171,-0.484391,0.097437,0.119178,4.7399,17.45
4,-0.927693,-0.123474,0.480136,-0.168304,-0.424266,-0.008574,0.479422,-0.363435,-0.038764,0.701275,...,0.360366,-0.302711,-0.275186,0.478537,0.032549,-0.337826,0.060263,-0.013722,4.9671,17.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-0.308678,-0.455856,-1.483109,0.321171,1.345112,0.759873,0.095924,0.229858,-0.234990,-3.275302,...,0.360366,1.395188,0.773245,-0.589859,0.071116,-0.426851,-1.329159,-0.007969,2.3757,11.80
996,-0.353353,-0.458991,-1.559013,0.246406,1.346462,0.584289,0.052617,0.089810,0.167043,-3.254669,...,0.360366,1.395188,0.803537,-0.645430,0.067754,-0.421813,-1.349997,-0.114062,2.5842,11.64
997,-0.488117,-0.465603,-1.499918,0.431332,0.937825,0.328080,0.013173,-0.138405,0.042689,-3.253294,...,0.360366,1.031353,0.346405,-0.780734,0.043058,-0.373396,-1.367067,-0.101464,2.5241,11.42
998,-0.779163,-0.383166,-1.081950,0.279349,0.616730,0.220748,0.166030,0.011139,-0.413812,-3.216155,...,-1.063302,0.788796,0.297725,-0.591718,0.036606,-0.356117,-1.383155,-0.136957,2.5682,11.00
999,-0.801538,-0.492192,-0.978053,0.347572,-0.044833,-0.228172,0.069679,0.258043,0.069313,-3.184518,...,-0.707385,0.182403,-0.039556,-0.970679,-0.002772,-0.144969,-1.400979,-0.111644,2.4848,10.80